<!-- Main data container -->
<div>

  <div class="row-fluid">
    <%= render :partial => 'left_nav' %>
    <article class="span10 special">
    <div class="content">
      <div class="row-fluid">
        <div class="center">
          <h2 class="orange">Add My Music</h2>
          <!-- Secondary navigation -->
        </div>
        <div class="span10 center">
          <div class="nav-secondary">
            <%= render 'music_networks/social_nav' %>
          </div>
          <!-- /Secondary navigation -->
        </div>
      </div>
      <div class="row-fluid">
        <div class="page-header custom">
          <h3>
            All Music
            <!--<span class="awe-cog"></span>-->
            <br>
            <small>Select all | Select none</small></h3>

        </div>
      </div>
      <div class="row-fluid">
        <div class="page-container">
          <form class="form-gallery">
            <ul id="thumbnails" class="thumbnails">
              <%# Actually, there is only Soundcloud here %>
              <% @playlists.each do |playlist| %>
                  <% items = playlist.items %>
                  <% items.each do |item| %>
                      <% if item %>
                          <% if item.itemizable.network == 'soundcloud' %>
                              <%#= render :partial => 'soundcloud_tracks', :locals => {:track => item.itemizable, :item_id => item.id} %>
                              <% if item.itemizable.class == TrackAlbum %>
                                  <%= render :partial => 'soundcloud_albums', :locals => {:track_album => item.itemizable, :item_id => item.id} %>
                              <% elsif item.itemizable.class == Track %>
                                  <%= render :partial => 'soundcloud_tracks', :locals => {:track => item.itemizable, :item_id => item.id} %>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>

              <% @audio_urls.each do |music_url| %>
                  <%= content_tag :li, class: 'span2 with-title audio-li' do %>
                      <%= music_url.title %>
                  <% end %>
              <% end %>

              <% @uploaded_audios.each do |music_url| %>
                  <%= content_tag :li, class: 'span2 with-title audio-li' do %>
                      <%= music_url.title %>
                  <% end %>
              <% end %>
            </ul>
          </form>
        </div>
      </div>

    </div>
    <div class="form">
      <a href="<%= image_path("sample_content/sample-image-900x500.png") %>" class="form-image">
        <img class="element" src="<%= image_path("sample_content/sample-image-250x150.png") %>" alt="" />
        <span class="awe-zoom-in"></span>
      </a>
      <%= form_tag "", :method => :put do %>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input">Caption</label>
            <div class="controls">
              <input class="input-xlarge" type="text" name="caption" id="caption" placeholder="Caption here">
              <input type="hidden" value="" id="object_id" name="object_id" /> 
              <!-- <p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>-->
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="input">Tags</label>
            <div class="controls">
              <input id="tags" class="input-xlarge" type="text"  name="tags" placeholder="Caption here">
              <p class="help-block">comma separated tags</p>
            </div>
          </div>
          <div class="form-actions">
            <button class="btn btn-wuxia btn-normal btn-primary" type="submit">Save changes</button>
            <a class="btn btn-wuxia btn-normal btn-primary close-form">Cancel</a>
          </div>
        </fieldset>
      <% end %>
    </div>
    </article>
  </div>
</div>
<%= javascript_include_tag 'http://connect.soundcloud.com/sdk.js'%>
<script type="text/javascript">
  $(function() {
    SC.initialize({
      client_id:  '<%= CONFIG[:soundcloud][:client_id] %>',
      access_token: '<%= current_user.soundcloud.try(:access_token) %>'
    });
  });
</script>
<%= javascript_include_tag 'soundcloud' %>
