<nav>
<ul>
  <li><a class="wuxify-me" href="<%= facebook_path %>"><span class="awe-fb"><img src="<%= image_path "icons/facebook.png" %>"></span>+Facebook</a></li>
  <li><a class="wuxify-me" href="<%= twitter_path %>"><span class="awe-tw"><img src="<%= image_path 'icons/twitter.png' %>"></span>+Twitter</a></li>
  <li><a class="wuxify-me" href="<%= instagram_path %>"><span class="awe-ins"><img src="<%= image_path 'icons/instagram.png' %>"></span>+Instagram</a></li>
  <li><a class="wuxify-me" href="<%= flickr_path %>"><span class="awe-fkr"><img src="<%= image_path 'icons/flickr.png' %>"></span>+Flickr</a></li>
  <li><a class="wuxify-me" href="<%= googleplus_path %>"><span class="awe-pic"><%= image_tag 'icons/google+.png' %></span>+Picasa</a></li>
  <li><a class="wuxify-me" href="<%= new_photo_url_path %>"><span class="awe-link"></span>+URL</a></li>
  <li><a class="wuxify-me" href="<%= uploader_path %>"><span class="awe-upload-alt"></span>+ My Photos</a></li>
</ul>
</nav>
