<% if photo %>
    <%= content_tag :li, data: {type: 'photo', id: photo.id, caption: photo.caption, tags: photo.tags.map(&:name).join(","), url: photo_path(photo), item_id: item_id}, class: 'span3' do %>
        <input id="img_<%= photo.id %>" type="checkbox" value="<%= photo.id %>">
        <a title="<%= photo.caption %>" href="#" class="thumbnail" <%= raw('style="opacity: 0.4"') if photo.content_control %>>
          <i style="background-image: url(<%= photo.image_url %>);" class="uiMediaThumbImg"></i>
        </a>
        <div>
          
          <%= link_to "", feed_toggler_path(photo.id, :item_type => 'Photo'), :class => "feed-control", :remote => true %>
          <%= link_to "", playlist_cover_changer_path(@playlist.id, item_id, :original_playlist_id => playlist_id), :class => "cover_media #{cover_class(@playlist,  photo)}", :id => generate_cover_id_from(photo), :remote => true %>
          <% if action_name == 'show' %>
              <a href="#demoModal" data-toggle="modal" class="awe-trash"></a>
              <span class="awe-cog"></span>
          <% end %>
        </div>
    <% end %>
<% end %>
